---
---

@import "../../node_modules/bootstrap/scss/_functions.scss";
@import "../../node_modules/bootstrap/scss/_variables.scss";

$theme-colors:(
  "primary": #00A6B8
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.terms{
  text-align: justify;
  h3{
    text-align: center;
    margin-bottom: 3rem;
  }
  ol{
    padding-left: 1rem;
  }
}

.logo{
  max-width: 20rem;
  img{
    margin-left: -1.9rem;
  }
}