<div id="form-error" class="alert alert-danger d-none" role="alert">
  <span id="form-error-text">Hello</span>
  <button id="form-error-close" type="button" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div id="form-success" class="alert alert-success d-none" role="alert">
  <span id="form-success-text">World</span>
  <button id="form-success-close" type="button" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form id="email-form">
  <div class="form-group">
    <label for="email">Email*</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  <div class="form-group">
    <label for="type">I am a:*</label>
    <select class="form-control" id="type" required>
      <option value="" selected disabled>-- Select --</option>
      <option value="student">Student</option>
      <option value="tutor">Tutor</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name-list">Instagram name(s) where post was shared:*</label>
    <textarea class="form-control" id="name-list" rows="3" required></textarea>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="accept-terms" value="checked" required>
    <label class="form-check-label" for="accept-terms">I Accept the Terms and Conditions*</label>
  </div>
  <div class="form-group text-purple">All fields with an asterisk (*) sign are required.</div>
  <div class="form-group">
    <button id="btn-submit" type="submit" class="btn btn-purple btn-block">Submit</button>
  </div>
</form>