<script>
(function(){


let email = document.getElementById("email");
let type = document.getElementById("type");
let nameList = document.getElementById("name-list");
let acceptTerms = document.getElementById("accept-terms");
let submitBtn = document.getElementById("btn-submit");

let errorAlert = document.getElementById("form-error");
let errorText = document.getElementById("form-error-text");
let errorClose = document.getElementById("form-error-close");

let successAlert = document.getElementById("form-success");
let successText = document.getElementById("form-success-text");
let successClose = document.getElementById("form-success-close");

successClose.addEventListener('click', (event) => {
  successAlert.classList.toggle('d-none');
});
errorClose.addEventListener('click', (event) => {
  console.log(event);
  errorAlert.classList.toggle('d-none');
});

submitBtn.addEventListener("click", submit);

let sending = false;

function submit(){
  submitBtn.innerHTML = `<i class="fas fa-spinner fa-spin"></i>`;
  event.preventDefault();
  let formData = {
    email: email.value,
    type: type.value,
    nameList: nameList.value,
    acceptTerms: acceptTerms.checked
  }
  console.log(formData);
  if(validateForm(formData)){
    fetch('https://edutailors-backend-production.herokuapp.com/api', 
    {
      method: 'POST',
      body: formData,
      headers: {
        'Content-Type': 'application/json'
      }
    })
      .then((response) => {console.log(response); response.json()})
      .then((result) => {
        if (successAlert.classList.contains('d-none')) {
          successAlert.classList.toggle('d-none');
        }
        successText.textContent = "Email has been sent";
      })
      .catch((error) => {
       if(errorAlert.classList.contains('d-none')){
          errorAlert.classList.toggle('d-none');
       }
        errorText.textContent = "Something went wrong, please try again later.";
      })
      .finally(()=>{
        submitBtn.innerHTML = `Submit`;
      });
  }
  else {
    if (errorAlert.classList.contains('d-none')) {
      errorAlert.classList.toggle('d-none');
    }
    errorText.textContent = "Form is invalid, please check the fields";
    submitBtn.innerHTML = `Submit`;
  }
}

function validateForm(formData){
  if (!validateEmail(formData.email) ||
  formData.type === "" ||
  formData.nameList === "" ||
  !formData.acceptTerms  )
    return false;
  else
    return true;
}

  function validateEmail(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  }
  })();

</script>